<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- for styling -->   
    <style>
        table {
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
        }

        input[type="button"] {
            width: 100%;
            padding: 20px 40px;
            background-color: #BBBBBB;
            color: white;
            font-size: 24px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
        }

        input[type="text"] {
            padding: 20px 30px;
            font-size: 24px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            border: 2px solid black;
        }
        input:hover {
            background-color: #999999; /* Цвет фона при наведении */
        }
        input:active{
            background-color: #f3bd48; /* Цвет фона при нажатии */
        }
    </style>
</head>
<!-- create table -->

<body>
    <table id="calcu">
        <tr>
            <td colspan="3"><input type="text" id="result"></td>
            <!-- clr() function will call clr to clear all value -->
            <td><input type="button" value="c" onclick="clr()" /> </td>
        </tr>
        <tr>
            <!-- create button and assign value to each button -->
            <!-- dis("1") will call function dis to display value -->
            <td><input type="button" value="1" onclick="dis('1')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="2" onclick="dis('2')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="3" onclick="dis('3')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="/" onclick="sign('/')"
                        onkeydown="myFunction(event)"> </td>
        </tr>
        <tr>
            <td><input type="button" value="4" onclick="dis('4')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="5" onclick="dis('5')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="6" onclick="dis('6')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="*" onclick="sign('*')"
                        onkeydown="myFunction(event)"> </td>
        </tr>
        <tr>
            <td><input type="button" value="7" onclick="dis('7')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="8" onclick="dis('8')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="9" onclick="dis('9')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="-" onclick="sign('-')"
                        onkeydown="myFunction(event)"> </td>
        </tr>
        <tr>
            <td><input type="button" value="0" onclick="dis('0')"
                        onkeydown="myFunction(event)"> </td>
            <td><input type="button" value="." onclick="dis('.')"
                        onkeydown="myFunction(event)"> </td>
            <!-- solve function call function solve to evaluate value -->
            <td><input type="button" value="=" onclick="solve()"> </td>

            <td><input type="button" value="+" onclick="sign('+')"
                        onkeydown="myFunction(event)"> </td>
        </tr>
    </table>

    <script>
        // Function that display value
        function dis(val) {
            document.getElementById("result").value += val            
        }
        function sign(val) {
            let str = document.getElementById("result").value
            //console.log(str)
            if (str.slice(-1) == '+'
            ||str.slice(-1) == '-'
            ||str.slice(-1) == '*'
            ||str.slice(-1) == '/'){
                //console.log('not number')
                document.getElementById("result").value = str.slice(0, str.length - 1);
                //console.log(str)
            }
            document.getElementById("result").value += val
        }
        

        function myFunction(event) {
            if (event.key == '0' || event.key == '1'
                || event.key == '2' || event.key == '3'
                || event.key == '4' || event.key == '5'
                || event.key == '6' || event.key == '7'
                || event.key == '8' || event.key == '9'){
                    document.getElementById("result").value += event.key;
                    }
                
            if (event.key == '+' || event.key == '-'
                || event.key == '*' || event.key == '/'){
                    let str = document.getElementById("result").value
                    //console.log(str)
                    if (str.slice(-1) == '+'
                        ||str.slice(-1) == '-'
                        ||str.slice(-1) == '*'
                        ||str.slice(-1) == '/'){
                            document.getElementById("result").value = str.slice(0, str.length - 1);
                            }
                document.getElementById("result").value += event.key
                }
        }

        var cal = document.getElementById("calcu");
        cal.onkeyup = function (event) {
            if (event.keyCode === 13) {
                //console.log("Enter");
                let x = document.getElementById("result").value
                //console.log(x);
                solve();
            }
        }
  
        // Function that evaluates the digit and return result
        function solve() {
            var obj = {};
            obj.x = document.getElementById("result").value;
            var str = JSON.stringify(obj);
            //console.log(str);
            //console.log(obj);

            $.ajax({
                method:'POST',
                url:'/ajax',
                dataType: 'json',
                processData: false,
                data: str,
                contentType: "application/json; charset=UTF-8",
                success: function(answer){
                    console.log(answer)
                    if (typeof answer === 'number'){
                        document.getElementById("result").value = answer;
                    }
                    else {
                        document.getElementById("result").value = answer.error;
                    }
                }
            })
        }

        // Function that clear the display
        function clr() {
            document.getElementById("result").value = ""
        }
    </script>
</body>

</html>